body {
    background-color: #f1ffff !important;
    color: #1e1e1e !important;
}
.input {
    border-radius: 10px !important;
    background-color: #f1ffff !important;
    border: 0px solid !important;
}
.input fieldset {
    border-radius: 10px !important;
}
.inputDate {
    border-radius: 100px !important;
    background-color: #545454 !important;
    border: 0px solid !important;
    font-family: "Gellix", sans-serif !important;
    color: #FFF !important;
}
.inputDate fieldset {
    border-radius: 100px !important;
}
.userButton {
    border-radius: 2px !important;
    transition: 0.3s !important;
    box-shadow: none !important;
    min-width: 150px;
}
.userButtonText {
    text-transform: capitalize !important;
    text-decoration: none !important;
    color: #FFF !important;
}
.userCard {
    background-color: #1e1e1e !important;
    color: #FFF !important;
    border-radius: 5px !important;
    transition: 0.3s !important;
}

.margin {
    min-height: 15px;
}