body {
    background-color: #f1ffff ;
    color: #1e1e1e ;
}
.input {
    border-radius: 10px ;
    background-color: #f1ffff ;
    border: 0px solid ;
}
.input fieldset {
    border-radius: 10px ;
}
.inputDate {
    border-radius: 100px ;
    background-color: #545454 ;
    border: 0px solid ;
    font-family: "Gellix", sans-serif ;
    color: #FFF ;
}
.inputDate fieldset {
    border-radius: 100px ;
}
.userButton {
    border-radius: 2px ;
    transition: 0.3s ;
    box-shadow: none ;
    min-width: 150px;
}
.userButtonText {
    text-transform: capitalize ;
    text-decoration: none ;
    color: #FFF ;
}
.userCard {
    background-color: #1e1e1e !important;
    color: #FFF !important;
    border-radius: 5px ;
    transition: 0.3s ;
}

.margin {
    min-height: 15px;
}